*{
  margin: 0;
  padding: 0;
}

html{
  line-height: 1.7;
  font-family: cursive;
}


p{
  font-style: italic;
}


.center{
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 768px){
  html{font-size: 18px;}
}

